@model ShopVM

@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/shop.css">
}

<main>
    <section id="categories">
        <div class="container">
            <div class="category-items">
                <h1>Products</h1>
                <div class="row">

                    @foreach (var category in Model.Categories)
                    {
                        @if (category.Products.Count != 0)
                        {
                            <div class="col-sm-6 col-lg-3">
                                <a asp-action="GetProductsByCategory" asp-route-id="@category.Id">
                                    <div class="item">
                                        <img src="~/assets/img/@category.Image" alt="">
                                        <div class="product-category text">
                                            <h5>@category.Name</h5>
                                            <h6>@category.Products.Count items</h6>
                                        </div>
                                    </div>
                                </a>
                               
                            </div>
                        }
                      

                    }
                
                </div>
            </div>

        </div>


    </section>

    <section id="products-all">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-lg-3">
                    <div class="left">
                        <div class="filtering">
                            <div class="text d-flex align-items-center justify-content-between">
                                <h1>Filter:</h1>
                                <span style="cursor: pointer;">Clear all</span>
                            </div>

                            <hr>
                            <div class="filter-all">
                                <h6 style="margin-top: 30px;">Price</h6>
                                <form>
                                    <div class="filter-price">
                                        <div class="range-slider">


                                            <span style="color: gray;">

                                                <input style="border: 1px solid #999;
                                                 width: 30%;
                                                font-size: 14px;" class="min-price" type="number" value="0" min="0" max="120000" />
                                                <span class="dollar">$</span>

                                                <span>-</span>
                                                <input style="border: 1px solid #999;
                                                margin-left: 5px;width: 30%;
                                                font-size: 14px;" class="max-price" type="number" value="200" min="0" max="120000" />
                                                <span class="dollar">$</span>
                                            </span>
                                            <div class="filterBtn">
                                                <button id="filterForm" type="submit">Filter</button>
                                            </div>
                                            <input value="0" min="0" max="200" step="1" type="range" />
                                            <input value="200" min="0" max="200" step="1" type="range" />

                                        </div>
                                    </div>
                                </form>
                                
                                <hr>
                                <div class="filter-category">
                                    <h6>Category</h6>
                                    <div class="category">
                                           @*  <input class="all-products"  id="All" type="checkbox"> *@
                                        <a><label for="All">All(@Model.ProductCount)</label></a>
                                    </div>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <div  class="category">
                                            @* <input data-id="@category.Id" class="product-category" name="kkk" id="@category.Name" type="checkbox"> *@
                                            <a asp-action="GetProductsByCategory" asp-route-id="@category.Id"><label name="kkk" for="@category.Name">@category.Name (@category.Products.Count)</label></a>
                                        </div>
                                    }
                                    
                                </div>
                                <hr>
                                <div class="filter-brand">
                                    <h6>Brand</h6>
                                    <div class="brand">
                                        @* <input class="all-products" id="All" type="checkbox"> *@
                                        <a><label for="All">All(@Model.ProductCount)</label></a>
                                    </div>
                                    @foreach (var brand in Model.Brands)
                                    {
                                        <div class="brand">
                                            @* <input id="@brand.Name" type="checkbox"> *@
                                            <a asp-action="GetProductsByBrand" asp-route-id="@brand.Id"><label for="@brand.Name">@brand.Name (@brand.Products.Count)</label></a>
                                        </div>

                                    }
                                   


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-7 col-lg-9">
                    <div class="right">
                        <div class="sorting d-flex">
                            <h1>Sort by:</h1>
                            <form>
                                <select id="sort-product" class="form-select" aria-label="Default select example">
                                    <option value="1" selected>Sorting</option>
                                    <option value="2">Latest</option>
                                    <option value="3">Price, low to high</option>
                                    <option value="4">Price, high to low</option>
                                </select>
                            </form>
                           
                            <h1 class="product-count"><span>
                                <span class="count">@Model.Product.Datas.Count()</span> products</span>
                                </h1>
                        </div>
                        <div class="products">
                            <div class="row product-list">
                                <partial name="_ProductPartial" model="@Model.Product" />

                            </div>
                        </div>


                        <!-- Pagination -->
                        <div class="pagination-area">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item @(Model.Product.HasPrevious ? "" : "disabled")">
                                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.Product.CurrentPage - 1)" tabindex="-1">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.Product.TotalPage; i++)
                                    {
                                        <li class="page-item @(Model.Product.CurrentPage == i ? "active" : "")">
                                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                   
                                   

                                    <li class="page-item @(Model.Product.HasNext ? "" : "disabled")">
                                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.Product.CurrentPage + 1)"><i class="fa-solid fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>


            </div>

        </div>
    </section>

    <div class="modals d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-7">
                    <div class="img">
                        <img src="./assets/img/product/product1-1.webp" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="text">
                        <h1>Super Pure</h1>
                        <span>$29.00</span>
                        <hr>
                        <p>
                            Glossier Super Bounce, Super Bounce, serum, hydrating serum, hyaluronic acid serum,
                            pro-vitamin b5 serum, hyaluronic...
                        </p>
                        <a href="#">
                            <div class="add wishlist">
                                <i class="fa-regular fa-heart"></i>
                                <h6>Add To Wishlist</h6>
                            </div>
                        </a>
                        <a href="#">
                            <div class="goto wishlist d-none">
                                <i class="fa-solid fa-heart"></i>
                                <h6>Go To Wishlist</h6>
                            </div>
                        </a>

                        <a href="">Add to Cart</a>
                        <hr>
                        <div class="info">
                            <h1>Type:<span>Skincare</span></h1>
                            <h1>Sku:<span>CLE-000-00-00</span></h1>
                            <a href="productDetail.html">View Details</a>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
    </div>
</main>

@section script {
    <script src="~/assets/js/shop.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/home.js"></script>

}

