
@model ProductDetailPageVM
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "ProductDetail";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/productDetail.css">
}

<style>
    .review a{
        background-color: #102B26;
        color:#fff;
        padding:10px 22px;
        transition:all .5s; 
    }
    .review a:hover{
            background-color: #FF6F2E;
           
    }
    .review h6{
        color: gray;
        font-size:12px;
    }
    .review-item{
        background-color: #E6E8EA;
        padding:20px 50px;
        margin:2rem;
    }

     .item .review-item h4 {
        font-size:22px;
        font-weight:bold;
    }
</style>
<main>
    <section id="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="product__slider">
                                    <div class="product__slider-main">
                                        @foreach (var image in Model.Product.Images)
                                        {
                                            <div class="slide">
                                                <img src="@Url.Content($"~/assets/img/product/{image.Image}")" alt=""
                                                     class="img-responsive">
                                            </div>
                                        }
                                       
                                    </div>
                                    <div style="@(Model.Product.Images.Count==2 ?"margin-left:-80px":"margin-left:25px")" class="product__slider-thmb">
                                        @foreach (var image in Model.Product.Images)
                                        {
                                            <div class="slide">
                                                <img src="@Url.Content($"~/assets/img/product/{image.Image}")" alt=""
                                                     class="img-responsive">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div data-id="@Model.Product.Id" class="text item">
                        <h1>@Model.Product.Name</h1>
                        <span>$@Model.Product.Price</span>
                        <hr>

                        @if (User.Identity.IsAuthenticated)
                        {
                        <a href="#">
                            <div data-id="@Model.Product.Id" class="add wishlist heart-icon">
                                <i class="fa-regular fa-heart"></i>
                                <h6>Add To Wishlist</h6>
                            </div>
                        </a>
                       
                            <a asp-controller="Wishlist" asp-action="Index">
                                <div class="goto wishlist d-none">
                                    <i class="fa-solid fa-heart"></i>
                                    <h6>Go To Wishlist</h6>
                                </div>
                            </a>

                            <a data-id="@Model.Product.Id" class="basket-icon" href="#">Add to Cart</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">
                                <div data-id="@Model.Product.Id" class="add wishlist">
                                    <i class="fa-regular fa-heart"></i>
                                    <h6>Add To Wishlist</h6>
                                </div>
                            </a>
                            <a asp-controller="Wishlist" asp-action="Index">
                                <div class="goto wishlist d-none">
                                    <i class="fa-solid fa-heart"></i>
                                    <h6>Go To Wishlist</h6>
                                </div>
                            </a>
                           

                            <a data-id="@Model.Product.Id" class="" asp-controller="Account" asp-action="Login">Add to Cart</a>
                            
                            }


                        <hr>
                        <div class="info">
                            <h1>Type:<span>@Model.Product.Category.Name</span></h1>
                            <h1>Sku:<span>CLE-000-00-00</span></h1>

                        </div>

                        <div class="accordion accordion-flush mt-5" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                        Shipping information
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <h3>-No EU import duties.</h3>
                                        <h3>-Ships within 1-2 business days.</h3>
                                        <h3>-Ships in our fully recyclable and biodegradable signature boxes.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Care Guide
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <h3>
                                            Regularcare. Use a slightly damp, soft and lint-free cloth for regular
                                            dust removal. Always clean in the direction of the grain.
                                        </h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="guarantee">
                            <h1>Guarantee safe checkout</h1>
                            <img src="~/assets/img/cards.png" alt="">
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </section>

    <section id="tab-menu">
        <div class="container">
            <div class=" tab-header  d-flex justify-content-evenly">
                <div data-id="1" class="item active-tab">Description</div>
                <div data-id="2" class="item">Reviews</div>
            </div>
            <div class=" tab-content">
                <div data-id="1" class="item">
                    <h3>@Model.Product.Description</h3>
                </div>
                <div data-id="2" class="item d-none">
                    <div class="review w-100">
                        @* <h5>Write review</h5> *@
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a style="margin-bottom:50px!important" asp-controller="Account" asp-action="Login">Write review</a>
                        }
                        @foreach (var item in Model.Reviews)
                        {
                            <div class="review-item">
                                <h4>@item.Name</h4>
                                <h5>@item.Message</h5>
                                <h6>@item.CreatedDate.ToString("dd/MM/yyyy")</h6>
                            </div>
                           
                        }
                         @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-controller="Shop" asp-action="CreateReview" asp-route-id="@Model.ProductId" asp-route-userId="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).Id">
                                <div class="inputs d-flex">
                                    <input asp-for="@Model.NewReview.Name" placeholder="Name" required type="text" name="name">
                                    <input asp-for="@Model.NewReview.Email" placeholder="Your email" required type="email" name="email">
                                </div>
                                <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Name"></span>
                                <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Email"></span>

                                <input asp-for="@Model.NewReview.Title" placeholder="Title" required type="text" name="title">
                                <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Title"></span>

                                <textarea asp-for="@Model.NewReview.Message" placeholder="Write your comment here" required name="message"></textarea>
                                <span style="color:red; margin-bottom:20px" asp-validation-for="@Model.NewReview.Message"></span>

                                <button type="submit">Submit review</button>
                            </form>

                        }
                       
                       

                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    


</main>

@section script {
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script> 
    <script src="~/assets/slick-1.8.1/slick/slick.js"></script>
    <script src="~/assets/js/productDetail.js"></script>
    <script src="~/assets/js/basket.js"></script>
    <script src="~/assets/js/wishlist.js"></script>

    
}

