@model AboutVM
@{
    ViewData["Title"] = "Index";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/about.css">
}
<main>
    <section id="passionate">
        <div class="container">
            <div class="content">
                <div class="img">
                    <img src="~/assets/img/about/@Model.Banner.Image" alt="">
                </div>
                <div class="text">
                    <p>
                        @Model.Banner.Text
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="values">
        <div class="container">
            <div class="content">
                <h1>OUR VALUES</h1>
                <p>
                   @Model.Value.Head
                </p>
                <p>
                    @Model.Value.Text
                </p>
            </div>

        </div>

    </section>


    <section id="leading">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h1>@Model.Achievment.Head</h1>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h2>@Model.Achievment.Results</h2>
                    <p>
                        @Model.Achievment.Text
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="img">
                        <img src="~/assets/img/about/@Model.Achievment.Image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="improvements">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-lg-6">
                    <div class="img">
                        <img src="~/assets/img/about/@Model.Result.Image" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="text">
                        <h1>@Model.Result.Head</h1>
                        <p>@Model.Result.Text
                        </p>
                        <h5>@Model.Result.Name</h5>
                        <h5>@Model.Result.Position</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

