@model List<CategoryVM>
@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<h1 class="text-center mt-3 mb-3">Categories</h1>
	<a class="btn btn-success text-white" asp-action="Create">Create</a>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Image
					</th>
					<th>
						Name
					</th>
					<th>
						Brand
					</th>
					
					<th>
						Created Date
					</th>

					<th>
						Operations
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var category in Model)
				{
					<tr>
						<td class="py-1">
							<img style="width:100px; height:100px" src="~/assets/img/@category.Image" alt="image" />
						</td>
						<td>
							@category.Name
						</td>
						<td>
							@foreach (var item in category.BrandCategories)
							{
								@item.Brand.Name
							}
						</td>
						
						<td>
							@category.CreatedDate.ToString("dd/MM/yyyy")
						</td>
						<td>
							<a class=" btn btn-outline-info" asp-action="Detail" asp-route-id="@category.Id">Detail</a>
							<a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
							<form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@category.Id">
								<button type="submit" class="btn btn-outline-danger">Delete</button>
							</form>
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>
</div>
