@model Paginate<ProductVM>



@*  <div class="mobile-products">
    <div class="row product-list">

        @foreach (var product in Model.Datas)
        {
            <div class="col-6">
                <div class="product">
                    <a asp-action="ProductDetail">
                        <img src="~/assets/img/product/@product.Images.Where(m=>m.IsMain).FirstOrDefault().Image" alt="Slide 1">
                    </a>
                    <div class="icons">
                        <i class="fa-regular fa-heart heart-icon"></i>
                        <i class="d-none fa-solid fa-heart "></i>
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-solid fa-bag-shopping basket-icon"></i>
                    </div>
                    <div class="text">
                        <h6>@product.CategoryName</h6>
                        <a asp-action="ProductDetail">
                            <h4>@product.Name</h4>
                        </a>
                        <span>$@product.Price</span>
                    </div>
                </div>
            </div>

        }
    </div>


</div>  *@


@foreach (var product in Model.Datas)
{
    <div class="col-sm-6 col-lg-4">
        <div class="product" data-id="@product.Id">
            <a asp-action="ProductDetail" asp-route-id="@product.Id">
                <img src="~/assets/img/product/@product.Images.Where(m=>m.IsMain).FirstOrDefault().Image" alt="Slide 2">
                <img class="d-none hover-img" src="~/assets/img/product/@product.Images.Where(m=>!m.IsMain).FirstOrDefault().Image"
                     alt="Slide 2">
            </a>
            <div class="d-none icons">
                <i class="fa-regular fa-heart heart-icon"></i>
                <i class="d-none fa-solid fa-heart "></i>
                <i class="fa-regular fa-eye open-modal" data-id="@product.Id"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="text">
                <h6>@product.CategoryName</h6>
                <a asp-action="ProductDetail">
                    <h4>@product.Name</h4>
                </a>
                <span>$@product.Price</span>
            </div>
        </div>
    </div>

}


