@model CartPageVM
@{
    ViewData["Title"] = "Orange";
    decimal grandTotal = Model.CartDetails.Sum(m => m.Total);
}
@section css {
    <link rel="stylesheet" href="~/assets/css/cart.css">
}
<main>

    <section id="cart">
        <div class="container">

            <div class="empty-cart @(Model.CartDetails.Count == 0 ? "":"d-none")">
                    <h1>Your Cart</h1>
                    <p>No products in the cart.</p>
                    <hr>
                    <a asp-controller="Shop" asp-action="Index">Continue shopping</a>
                </div>


            <div class="full-cart @(Model.CartDetails.Count != 0 ? "":"d-none")">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.CartDetails.OrderByDescending(m=>m.Id))
                            {
                                <tr>

                                    <td>
                                        <img src="~/assets/img/product/@product.Image" alt="">

                                    </td>
                                    <td>
                                        <span>@product.Name</span>
                                        <a data-id="@product.Id" href="#" class="delete-product">Remove</a>
                                    </td>

                                    <td><span>$@product.Price</span></td>
                                    <td>
                                        <i data-id="@product.Id" style="font-size:16px" class="fa-solid fa-minus minus-icon"></i>
                                        <span class="count">@product.Count</span>
                                    <i data-id="@product.Id" style="font-size:16px" class="fa-solid fa-plus plus-icon"></i>
                                    </td>
                                    <td>$<span class="grand-total">@product.Total</span></td>

                                </tr>
                            }


                        </tbody>
                    </table>
                
                    <h2 class="grand-total" style="text-align:end">Total: $ <span>@grandTotal</span></h2>

                </div>
            
         
            
        </div>

    </section>

    <section id="products">

        <div class="head">
            <h1>You May Also Like</h1>
        </div>
        <div class="slider-products">
            <div class="slider-for">
            </div>
            <div class="slider-nav" data-slick='{"slidesToShow": 5, "slidesToScroll": 3}'>
                @foreach (var item in Model.Products)
                {
                    <div class="col-sm-4">
                        <div class="product item" data-id="@item.Id">
                            <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                                <img src="~/assets/img/product/@item.Images.Where(m=>m.IsMain).FirstOrDefault().Image" alt="Slide 1">
                                <img class="d-none hover-img" src="~/assets/img/product/@item.Images.FirstOrDefault(m=>!m.IsMain).Image" alt="Slide 1">
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="d-none icons">
                                    <i class="fa-regular fa-heart heart-icon"></i>
                                    <i class="d-none fa-solid fa-heart delete-product-from-wishlist" data-id="@item.Id"></i>
                                    <i class="fa-regular fa-eye open-modal" data-id="@item.Id"></i>
                                    <i class="fa-solid fa-bag-shopping basket-icon"></i>
                                </div>
                            }
                            else
                            {
                                <div class="d-none icons">
                                    <a style="color:black" asp-controller="Account" asp-action="Login"><i class="fa-regular fa-heart heart-icon"></i></a>
                                    <a asp-controller="Account" asp-action="Login"><i class="d-none fa-solid fa-heart delete-product-from-wishlist" data-id="@item.Id"></i></a>
                                    <i class="fa-regular fa-eye open-modal" data-id="@item.Id"></i>
                                    <a style="color:black" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-bag-shopping"></i></a>
                                </div>
                            }
                            <div class="text">
                                <h6>@item.CategoryName</h6>
                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                                    <h4>@item.Name</h4>
                                </a>
                                <span>$@item.Price</span>
                            </div>
                        </div>
                    </div>
                }
               
               

            </div>
        </div>

        <div class="mobile-products">
            <div class="slider-nav" data-slick='{"slidesToShow": 2, "slidesToScroll": 1}'>
                @foreach (var item in Model.Products)
                {
                    <div class="product item" data-id="@item.Id">
                        <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                            <img src="~/assets/img/product/@item.Images.Where(m=>m.IsMain).FirstOrDefault().Image" alt="Slide 1">
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="icons">
                                <i class="fa-regular fa-heart heart-icon"></i>
                                <i class="d-none fa-solid fa-heart delete-product-from-wishlist" data-id="@item.Id"></i>
                                <i class="fa-solid fa-bag-shopping basket-icon"></i>
                            </div>
                        }
                        else
                        {
                            <div class="icons">
                                <a style="color:black" asp-controller="Account" asp-action="Login"><i class="fa-regular fa-heart"></i></a>
                                <a asp-controller="Account" asp-action="Login"><i class="d-none fa-solid fa-heart delete-product-from-wishlist" data-id="@item.Id"></i></a>
                                <a style="color:black" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-bag-shopping"></i></a>
                            </div>
                        }
                        <div class="text">
                            <h6>@item.CategoryName</h6>
                            <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@item.Id">
                                <h4>@item.Name</h4>
                            </a>
                            <span>$@item.Price</span>
                        </div>
                    </div>
                }
               
               
            </div>



        </div>

    </section>

    <div class="overlay"></div>

    <div class="modals d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-7">
                    <div class="img">
                        <img src="~/assets/img/product" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div data-id="" class="text">
                        <h1 class="product-name">Super Pure</h1>
                        <span>$<span class="product-price">20</span></span>
                        <hr>
                        <p class="product-desc">
                            Glossier Super Bounce, Super Bounce, serum, hydrating serum, hyaluronic acid serum,
                            pro-vitamin b5 serum, hyaluronic...
                        </p>
                        <a href="#">
                            <div class="add wishlist heart-icon">
                                <i class="fa-regular fa-heart"></i>
                                <h6>Add To Wishlist</h6>
                            </div>
                        </a>
                        <a asp-controller="Wishlist" asp-action="Index">
                            <div class="goto wishlist d-none">
                                <i class="fa-solid fa-heart"></i>
                                <h6>Go To Wishlist</h6>
                            </div>
                        </a>

                        <a data-id="" class="basket-icon item" href="#">Add to Cart</a>
                        <hr>
                        <div class="info">
                            <h1>Type:<span class="product-category">Skincare</span></h1>
                            <h1>Sku:<span>CLE-000-00-00</span></h1>
                            <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="">View Details</a>

                        </div>




                    </div>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
    </div>
</main>
@section script{
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/cart.js"></script>
    <script src="~/assets/js/productDetail.js"></script>
    <script src="~/assets/js/basket.js"></script>
    <script src="~/assets/js/product.js"></script>
    <script src="~/assets/js/home.js"></script>
    <script src="~/assets/js/wishlist.js"></script>


}

