@model List<BrandVM>
@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<h1 class="text-center mt-3 mb-3">Brands</h1>
	<a class="btn btn-success text-white" asp-action="Create">Create</a>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Image
					</th>
					<th>
						Name
					</th>

					<th>
						Created Date
					</th>

					<th>
						Operations
					</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var brand in Model)
				{
					<tr>
						<td class="py-1">
							<img style="width:140px; height:80px; border-radius:0" src="~/assets/img/@brand.Image" alt="image" />
						</td>
						<td>
							@brand.Name
						</td>

						<td>
							@brand.CreatedDate.ToString("dd/MM/yyyy")
						</td>
						<td>
							<a class=" btn btn-outline-info" asp-action="Detail" asp-route-id="@brand.Id">Detail</a>
							<a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@brand.Id">Edit</a>
							<form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@brand.Id">
								<button type="submit" class="btn btn-outline-danger">Delete</button>
							</form>
						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>
</div>
